@inherits LayoutComponentBase


<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <NavHeader />
        <MainSideBar />

        <!-- Main Content -->
        <div class="main-content">
            @Body
        </div>
        <MainFooter />
    </div>
</div>