@
<div class="main-sidebar">
    <!--sidebar wrapper-->
    <aside id="sidebar-wrapper">
        <!--sidebar brand-->
        <div class="sidebar-brand">
            <a href="/">Book Panel</a>
        </div>
        <!--sidebar menu-->
        <ul class="sidebar-menu">
            <!--menu header-->
            <li class="menu-header">Dashboard</li>
            <!--menu item-->
            <li>
                <NavLink href="/" Match="NavLinkMatch.All"><i class="fas fa-home"></i><span>Dashboard</span></NavLink>
            </li>
            <li class="menu-header">Configurations</li>
            <!--menu item-->
            <li class="nav-item dropdown">
                <NavLink href="#" class="has-dropdown" Match="NavLinkMatch.All" @onclick="ToggleConfigurationMenu"><i class="fas fa-cogs"></i><span>Configurations</span></NavLink>
            </li>
            @if (configurationMenu)
            {
                <li>
                    <NavLink class="nav-link" href="/create-batch"><i class="fas fa-compress-arrows-alt"></i><span>Create Batch</span></NavLink>
                    <NavLink class="nav-link" href="/create-programme"><i class="fas fa-gitkraken"></i><span>Create Programme</span></NavLink>
                    <NavLink class="nav-link" href="/create-course"><i class="fas fa-gitter"></i><span>Create Course</span></NavLink>
                </li>
            }

            <li class="menu-header">Students</li>
            <!--Students-->
            <li class="nav-item dropdown">
                <NavLink href="#" class="has-dropdown" Match="NavLinkMatch.All" @onclick="ToggleStudentMenu"><i class="fas fa-graduation-cap"></i><span>Students</span></NavLink>
            </li>
            @if (studentMenu)
            {
                <li>
                    <NavLink class="nav-link" href="/create-batch"><i class="fas fa-id-card-alt"></i><span>Create Student</span></NavLink>
                    <NavLink class="nav-link" href="/create-programme"><i class="fas fa-person-booth"></i><span>View Student</span></NavLink>
                    @*<NavLink class="nav-link" href="/create-course"><i class="fas fa-fire"></i><span>Create Course</span></NavLink>*@
                </li>
            }

            <li class="menu-header">Activities</li>
            <!--Students-->
            <li class="nav-item dropdown">
                <NavLink href="#" class="has-dropdown" Match="NavLinkMatch.All" @onclick="ToggleActivityMenu"><i class="fas fa-handshake-alt-slash"></i><span>Activity</span></NavLink>
            </li>
            @if (activityMenu)
            {
                <li>
                    <NavLink class="nav-link" href="/create-batch"><i class="fas fa-book-open"></i><span>Assign Books</span></NavLink>
                    <NavLink class="nav-link" href="/create-programme"><i class="fas fa-book-reader"></i><span>Return Books</span></NavLink>
                    @*<NavLink class="nav-link" href="/create-course"><i class="fas fa-fire"></i><span>Create Course</span></NavLink>*@
                </li>
            }

            <li class="menu-header">Reports</li>
            <!--Students-->
            <li class="nav-item dropdown">
                <NavLink href="#" class="has-dropdown" Match="NavLinkMatch.All" @onclick="ToggleReportMenu"><i class="fas fa-project-diagram"></i><span>Report</span></NavLink>
            </li>
            @if (reportMenu)
            {
                <li>
                    <NavLink class="nav-link" href="/create-batch"><i class="fas fa-file-export"></i><span>Export Excel</span></NavLink>
                    <NavLink class="nav-link" href="/create-programme"><i class="fas fa-file-pdf"></i><span>Create PDF</span></NavLink>
                    <NavLink class="nav-link" href="/create-course"><i class="fas fa-chart-pie"></i><span>Charts</span></NavLink>
                </li>
            }

            <li class="menu-header">User Account</li>
            <!--Students-->
            <li class="nav-item dropdown">
                <NavLink href="#" class="has-dropdown" Match="NavLinkMatch.All" @onclick="ToggleUserAccountMenu"><i class="fas fa-chalkboard-teacher"></i><span>User Account</span></NavLink>
            </li>
            @if (userAccountMenu)
            {
                <li>
                    <NavLink class="nav-link" href="/create-batch"><i class="fas fa-user-plus"></i><span>Create User</span></NavLink>
                    <NavLink class="nav-link" href="/create-programme"><i class="fas fa-users-cog"></i><span>Manager Users</span></NavLink>
                    <NavLink class="nav-link" href="/create-course"><i class="fas fa-users"></i><span>User List</span></NavLink>
                </li>
            }

        </ul>
    </aside>
</div>

@code{


    private bool configurationMenu = false;
    private bool studentMenu = false;
    private bool activityMenu = false;
    private bool reportMenu = false;
    private bool userAccountMenu = false;




    private void ToggleConfigurationMenu()
    {
        configurationMenu = !configurationMenu;
        studentMenu = false;
        activityMenu = false;
        reportMenu = false;
        userAccountMenu = false;
    }

    private void ToggleStudentMenu()
    {
        studentMenu = !studentMenu;
        configurationMenu = false;
        activityMenu = false;
        reportMenu = false;
        userAccountMenu = false;

    }

    private void ToggleActivityMenu()
    {
        activityMenu = !activityMenu;
        configurationMenu = false;
        studentMenu = false;
        reportMenu = false;
        userAccountMenu = false;
    }
    private void ToggleReportMenu()
    {
        reportMenu = !reportMenu;
        configurationMenu = false;
        studentMenu = false;
        activityMenu = false;
        userAccountMenu = false;
    }

    private void ToggleUserAccountMenu()
    {
        userAccountMenu = !userAccountMenu;
        configurationMenu = false;
        studentMenu = false;
        reportMenu = false;
    }
}
